:root 
{
    padding-left: 10%;
    padding-right: 10%;

}

.categorie
{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1
{
text-align: center;
}
.image
{
 width: 20px;
 height:20px;
border-spacing: 3px;
padding-right: 5px;
}

.bloc
{
    display: flex;
    align-items: center;
    justify-items: start;
}

h2
{
    text-decoration: underline;
}

ul
{
    list-style-type: "- ";
}

a
{
    color: black;
    text-decoration: none;   
}

a:hover
{
    color: rgb(86, 6, 86);
}